POSTGRES_USER=radius
POSTGRES_PASSWORD=change
POSTGRES_DB=radius
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_PASSWORD=change

RADIUS_SECRET=testing123
RADIUS_AUTH_PORT=1812
RADIUS_ACCT_PORT=1813

API_PORT=8000
API_SECRET_KEY=change